<div *ngIf="product">
    <h2>{{product.description | uppercase}} Details</h2>
    <div><span>id: </span>{{product.id}}</div>
    <div>
    <label>description:
        <input [(ngModel)]="product.description" placeholder="description"/>
    </label>
    </div>
    <label>amount:
        <input [(ngModel)]="product.amount" placeholder="amount"/>
    </label>
    <label>price:
        <input [(ngModel)]="product.price" placeholder="price"/>
    </label>
    <button (click)="goBack()">go back</button>
    <button (click)="save()">save</button>
</div>
